*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: auto;
}
:root{
    --color-white: #fff;
    --main-color:#ED563B;
    --btn-text-color:#fff;
    --btn-hover-bg:#F9735B;
    --word-color:var(--main-color);
}
#header {
    background: linear-gradient(rgba(52, 73, 94,0.9), rgba(52, 73, 94,0.9)),url(images/GYM.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
}
a {
    text-decoration: none;
    color: var(--color-white);
}
.btn-style {
    background: var(--main-color);
    border: none;
    border-radius: 3px;
    color: var(--btn-text-color);
    margin-top: 1rem;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
}
p {
    line-height: 25px;
    font-size: 14px;
    color: rgb(122, 122, 122);
}
.btn-style:hover {
    background: var(--btn-hover-bg);
}
#menu-sign-up-btn {
    background: var(--main-color);
    padding: 7px;
    border-radius: 3px;
    text-transform: uppercase;
}
.half-width {
    width: 50%;
}
.all-section-header {
    text-align: center;
    padding: 3rem 21rem;
}
.all-section-header>h2 {
    padding-bottom: 1rem;
    text-transform: uppercase;

}
.all-section-header>img {
    padding-bottom: 5px;
}
#menu-sign-up-btn:hover{
    background: var(--btn-hover-bg);
}
.word-highlight {
    color: var(--word-color);
}
#logo-text {
    font-size: 35px;
}
.text-center {
    text-align: center;
}
#header nav ul li {
    list-style: none;
    margin: 0 5px;
}
#header nav ul li:hover a:not(#menu-sign-up-btn){ 
    color: var(--main-color);
}
#header nav ul li a:not(#menu-sign-up-btn) {
    padding: 0 10px;
    text-transform: uppercase;
}
.flexible {
    display: flex;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: rgba(255, 255, 255,0.1);
}
.header-content-section{
    padding: 20rem 0;
    text-align: center;
}
#header-big-text{
    font-size: 80px;
}
#nav-ul {
    line-height: 2;
}
.flexible.program-main-box article {
    padding: 2rem 15px;
}
.flexible.program-main-box article > div {
    padding: 0 2rem;
}
.flexible.program-main-box article > div > a {
    padding: 10px 0;
    display: inline-block;
}
.membership-main-secion {
    background: #333;
    padding: 10rem 0;
    text-align: center;
    color: var(--color-white);
}
.membership-main-secion p {
    width: 70%;
    color: #fff;
    padding: 2rem 0;
    font-size: 18px;
    margin: auto;
}
.our-class-main-section{
    display: flex;
    justify-content: space-between;
    padding:2rem 0;
}
section.our-class-main-section>div h3 {
    color: #333;
}
section.our-class-main-section>div img {
    padding-right: 1rem;
    width: 7%;
}
.our-class-main-section>div a:nth-child(1) h3{
    color: var(--main-color);
}
.our-class-main-section>div a:not(.schedules-btn) {
    padding: 2rem 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;
    width: 70%;
    margin: 1rem 0;
}
.our-class-main-section>div a:not(.schedules-btn):hover h3,.trainer-main-section>.container article>div a>i:hover{
    color: var(--main-color);
}
.schedules-btn {
    font-size: 25px;
    width: 70%;
}
section.our-class-main-section article>img {
    width: 100%;
}
section.our-class-main-section article>h3 {
    padding: 1rem 0;
}


.class-schedule-main-seciton>.container>.all-section-header p{
    color: var(--color-white);
}
.class-schedule-main-seciton{
    background: #333;
    color: #fff;
}
.class-schedule-main-seciton>.container ul li {
    list-style: none;
    margin: 0 10px;
}
.class-schedule-main-seciton>.container ul{
    display: flex;
    justify-content: center;
}
.class-schedule-main-seciton>.container ul li a{
    text-decoration: none;
    color: #fff;
    padding:10px;
    font-weight: bold;
}
.class-schedule-main-seciton>.container ul li:nth-child(1) a{
    color: var(--main-color);
}
.class-schedule-main-seciton>.container ul span {
    font-weight: bold;
}
.class-schedule-main-seciton>.container ul li:hover a{
    color: var(--main-color);
}
section.trainer-main-section>.container article img {
    width: 100%;
}
.schedule-routin-main-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,100px);
    padding: 2rem 0;
}
.schedule-boxes{
    border: 0.5px solid var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.trainer-main-section>.container article {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;
    margin: 0 1rem;
    padding: 25px;
    border-radius: 5px;
}
section.trainer-main-section>.container article p {
    padding: 10px 0;
}
section.trainer-main-section>.container article>div a>i {
    color: #333;
    padding: 0 10px;
}
.trainer-main-section>.container article>div a>i:hover{
    color: var(--main-color);
}
.contact-from-main-sec{
    justify-content: space-between;
    display: flex;
    padding: 8rem 0;
}
.form-contact {
    width: 65%;
    margin: auto;
    padding: 18px 43px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;
}
.form-section{
    background: #333;
}
input[type="text"],textarea {
    width: 100%;
    margin: 10px 0;
    color: #7a7a7a;
    padding: 12px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.contact-from-main-sec button{
    cursor: pointer;
}
section.half-width.form-section {
    padding: 4rem 0;
}
section.copyright {
    text-align: center;
}